mixin Footer
  footer.footer.bg-primary.text-center.py-4
    .container
      .row.align-items-center(style="opacity: 0.85")
        .col-sm-3.text-sm-start
          a(href="index.html")
            img(src=`${CWD}assets/img/logo-light.png` alt="logo")
        .col-sm-6.mt-3.mt-sm-0
          p.text-white.lh-lg.mb-0.fw-semi-bold &copy; Copyright 2018 Elixir Inc.
        .col.text-sm-end.mt-3.mt-sm-0
          a(href="https://themewagon.com/" target="_blank").text-white  Designed by Themewagon