mixin TopBar
	.bg-primary.py-3.d-none.d-sm-block
		.container
			.row.align-items-center
				.col-auto.d-none.d-lg-block
					span.fas.fa-map-marker-alt.text-warning(data-fa-transform="shrink-2")
					p.ms-1.mb-0.fs--1.d-inline.text-white.fw-bold 1010 Avenue, New York, NY 10018 US. 
				.col-auto.ms-md-auto.order-md-2.d-none.d-sm-flex
					span.fas.fa-clock.text-warning(data-fa-transform="shrink-1")
					p.ms-2.mb-0.fs--1.d-inline.text-white.fw-bold Mon-Sat, 8.00-18.00. Sunday CLOSED
				.col-auto
					span.fas.fa-phone-alt.text-warning(data-fa-transform="shrink-3")
					a(href="tel:2123865575").ms-2.mb-0.fs--1.d-inline.text-white.fw-bold 212 386 5575, 212 386 5576