extends layouts/LayoutTheme
include mixins/homes/SliderHeader

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)

append mainContent
  +SliderHeader