mixin SpecialHeight 
  h5 Special height classes
  pre
    code.lang-css.
      #{'.h-full{ min-height: 100vh; }'}
      #{'.h-half {min-height: 50vh; }'}
      #{'.h-100vh{ height: 100vh !important; }'}