/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */

.navbar-elixir{
	background: var(--#{$variable-prefix}bg-navbar-glass);
	margin-bottom: -59px;
	color: $primary;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);

	.navbar{
		letter-spacing: 0.01rem;
	}
}
// .znav-container{
//     .dropdown, .megamenu{ @include mq($from: desktop) { box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08); } }

//     a:not(.btn){
//         color: map-get($colors, primary);
//     }
// }

// .znav-container .has-dropdown .dropdown{
//     min-width: 178px;
// }

.hamburger{
	padding: 8px;
	transform: translateY(-5px);
	.hamburger-box{
			height: 0;
			width: 30px;
			.hamburger-inner{
					&, &::after, &::before{
							width: 100%;
							height: 1px;
							border-radius: $border-radius;
							background-color: currentColor;
					}
	}
}
&.is-active { .hamburger-inner{ background-color: transparent; } }
}
.hamburger-inner::before{ top: -7px; }
.hamburger--emphatic .hamburger-inner::after{ top: 7px; }

// .hamburger {
// 	padding: 8px;
// 	display: inline-block;
// 	transform: translateY(-5px);
// 	transition-timing-function: linear;
// 	transition-duration: .15s;
// 	transition-property: opacity,filter;
// 	text-transform: none;
// 	border: 0;
//   background-color: transparent;
// 	.hamburger-box {
// 		height: 3px;
// 		width: 30px;
// 		.hamburger-inner {
// 			position: relative;

// 			&,
// 			&::after,
// 			&::before {
// 				width: 100%;
// 				height: 1px;
// 				border-radius: $border-radius;
// 				background-color: currentColor;
// 			}

// 			&::after,
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				left: 0;
// 			}
// 		}
// 	}
// 	&.is-active {
// 		.hamburger-inner {
// 			background-color: transparent;
// 		}
// 	}
// }
// .hamburger-inner::before {
// 	top: -7px;
// }
// .hamburger--emphatic .hamburger-inner::after {
// 	top: 7px;
// }

.navbar-toggler:focus {
	box-shadow: none;
}